{% extends '::base.html.twig' %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Market Trade Processor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if app.request.attributes.get('_route') == 'admin_message_list' %}active{% endif %}"><a href="{{ path('admin_message_list') }}">Messages</a></li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_report_list' %}active{% endif %}"><a href="{{ path('admin_report_list') }}">Reports</a></li>
            <li class="{% if app.request.attributes.get('_route') == 'admin_report_new' %}active{% endif %}"><a href="{{ path('admin_report_new') }}">New report</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock body %}